@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import  'variable';



$secondary_color: rgb(20, 16, 242);
$primary_color: rgb(13, 110, 253);
$link_color1: rgb(252, 223, 6);
$link_color2: rgb(255, 255, 255);


body {
  h3 {
    color: $secondary_color;
  }
}
 
.navbar {
    background-color: $primary_color!important;
    border-bottom: 4px solid $secondary_color;
    .nav-item {
        color: $link_color1!important;
    }
    .nav-link:hover{
        color: $link_color2;
    }
} 
  


#first-cta {
    background-image: url("../img/banner-bootpro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5rem;
    padding: 10rem 5rem 10rem 5rem;
  h1, p {
    text-align: center;
    color: #ffffff!important;
    text-shadow: 2px 2px 4px black;
  }

  a {
    margin-left: 2rem;
  }
}

#services {

  margin: 5rem 0 5rem 0;
    i {
      font-size: 2rem;
      color: $secondary_color;
      
    }
    h3 {
      display: inline;
      margin-left: 0.2rem;
    }
    p {
      margin: 1em 0 0 0;
    }

}

.program_icons {

  li {
    list-style: none;
    display: inline-block;
    margin-top: 3rem;
  }
}

#partnerships {
    .col {
      @media screen and (max-width: 576px) {
        width: 60%;
        margin: 0 auto;
      }
    }
}

.reviews-card {
    i {
      color: $primary_color;
      font-size: 1.5rem;
    }
}

path {
    fill: $secondary_color;
}

.reviews-name {
    h3 {
       padding-top: 1rem;
    }
}


